In [14]:
class Human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
     print(f"{self.name}は{self.age}才です。")

human1 = Human("田中ミラベル幸一", 89)
human2 = Human("渡辺", 29)

human1.printinfo()
human2.printinfo()

田中ミラベル幸一は89才です。
渡辺は29才です。